<section class="gallery">
  <ul class="gallery__set">
    <li class="gallery__frame frame">
      <div class="frame__content">
        <h1 class="frame__title">Honacha</h1>
      </div>
    </li>

    <li class="gallery__frame frame">
      <div class="frame__content">
        <div
          class="frame__media frame__media--left"
          style="background-image: url(./images/3d-gallery/1.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for bigger distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content frame__content--right">
        <h3 class="frame__subtitle">FOOD</h3>
        <p class="frame__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut repudiandae sit iusto minus natus tenetur quaerat sint eaque temporibus ullam, amet placeat nulla hic alias repellat dolor eum in accusantium?
        </p>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <div
          class="frame__media frame__media--left"
          style="background-image: url(./images/3d-gallery/2.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for bigger distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content frame__content--left">
        <h3 class="frame__subtitle">AUNTIES</h3>
        <p class="frame__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, cumque fugit rem fuga illum odit voluptatem, vitae sed nihil veritatis et debitis ullam nesciunt tempore qui ex accusantium. Adipisci, culpa?
        </p>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <div
          class="frame__media frame__media--right"
          style="background-image: url(./images/3d-gallery/3.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for bigger distance between frames -->
    <li class="gallery__frame frame frame--bg"></li>

    <li class="gallery__frame frame">
      <div class="frame__content frame__content--right">
        <h3 class="frame__subtitle">3 generations</h3>
        <p class="frame__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, id itaque. Unde, magni eveniet! Itaque repellat cupiditate magnam voluptatem ut voluptatibus hic ipsam deserunt alias quod praesentium optio, tenetur vitae.
        </p>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <div
          class="frame__media frame__media--left"
          style="background-image: url(./images/3d-gallery/4.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for the biggest distance between frames -->
    <li class="gallery__frame frame"></li>
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content">
        <div
          class="frame__media"
          style="background-image: url(./images/3d-gallery/5.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for the bigger distance between frames -->
    <li class="gallery__frame frame"></li>


    <!-- add div for the biggest distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content">&copy;Water Stories of Patan</div>
    </li>
  </ul>


  <audio src="./audio/ambient.mp3" class="audio" loop></audio>
</section>
